<a class="screen-reader-text skip-link" href="#content">Skip to content</a>
{% if page.title %}
<header id="masthead" class="single">
{% else %}
<header id="masthead" class="index">
{% endif %}

{% if page.title %}
<div class="head-left">
<a class="go-home" href="/" title="Main page">Home</a>
</div>
{% endif %}

{% if page.title %}
<a href="/" title="Main page"><h1 class="headline hidden">Minorities and Philosophy</h1></a>
{% else %}
<a href="/" title="Main page"><h1 class="headline hidden">Minorities and Philosophy</h1></a>
{% endif %}

</header>
